.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-column-gap: 40px; */

  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer {
  background-color: rgba(8, 77, 77, 0.459);
  padding-bottom: 40px;
  color: rgb(131, 129, 117);
  padding: 0 50px;
}
.join {
  margin-left: 230px;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
  }

  .footer {
    padding-bottom: 40px;
    padding: 0 10px;
  }
  .join {
    margin-left: 20px;
  }
}

.footer-p {
  padding-bottom: 20px;
}
