.product-Name {
  color: rgb(150, 174, 199);
}

.person {
  color: rgb(221, 183, 15);
}

.description {
  color: rgb(223, 198, 198);
}

.review-image {
  border: 5px solid rgb(10, 127, 163);
  border-radius: 10px;
}
